[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-i18n = {ref = "disable_lang_links", git = "https://gitlab.com/noymer/mkdocs-i18n.git"}
pymdown-extensions = "*"
pygments = "*"

[dev-packages]

[requires]
python_version = "3.10"
